<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
    }
  }
}
</script>

<style>
/*@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400i');*/
@import url('https://fonts.googleapis.com/css?family=Share+Tech');

html{
  background: linear-gradient(135deg, #29cece 0%,#26c1c9 26%,#28b7ff 50%,#2fe5f9 75%,#2fe5f9 75%,#7db9e8 94%);
  background-repeat:no-repeat;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: black;
  width: 100%;
  /*background-color: #FFEEED;*/
}


</style>
