<template><div class="nav">

</div></template>

<script>
import axios from 'axios';
export default {
    
    name: 'Nav',
    
    data () {
	return {
	    api:{
		api_routes:{},
		route_availables : "http://172.28.5.1:10101/public",
		},
	    errors:[]
	}},
    
    methods:{
	
	clk_but: function(event){ console.log("<- clk_but() +>" + event.toElement.innerText) }
	},
    
    created() {
	axios.post(this.api['route_availables'], {headers: {'Access-Control-Allow-Origin': '*'} ,req:'routes_availables'})
	    .then(response => {
		this.api_routes = Object.assign({}, response.data)
		console.log(this.api_routes)
	    })
	    .catch(e => {
		this.errors.push(e)
	    })
	}
}
</script>

<!-- -->
<style scoped>

.opx {
	width: 200px;
}

.techno {
	width: 200px;
}

ul {
	padding: 0;
	list-style-type: none;
	text-align: center;
}

li{

}

li:hover {
	background-color: #B4D6C6;
	color:black;
}

</style>
